@model EventsViewModel


<div class="form-group">
    <label asp-for="EventCode" class="col-form-label"></label>
    <input readonly asp-for="EventCode" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="EventName" class="col-form-label"></label>
    <input readonly asp-for="EventName" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="EventOrganizer" class="col-form-label"></label>
    <input readonly asp-for="EventOrganizer" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="DateTime" class="col-form-label"></label>
    <input readonly asp-for="DateTime" class="form-control" />

</div>

<div class="form-group">
    <label asp-for="EventLocation" class="col-form-label"></label>
    <input readonly asp-for="EventLocation" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="EventDuration" class="col-form-label"></label>
    <input readonly asp-for="EventDuration" class="form-control" />

</div>
<div class="form-group">
    <label asp-for="EventDescription" class="col-form-label"></label>
    <input readonly asp-for="EventDescription" class="form-control" />

</div>